html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;   
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

* {
    box-sizing: border-box;
    border: 1px gray solid;
}

body {
    line-height: 1.5;
}

/* header */

.header {
    padding-right: 20px;
    padding-left: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
    color: darkturquoise;
    text-shadow: -3px 3px 3px mediumvioletred;
}

header nav {
    display: flex;
    align-self: center;
}

header nav a {
    margin-left: 20px;
    margin-right: 20px;
    background-color: magenta;
    border: none;
    color: black;
    text-align: center;
    padding: 5px 20px;
    border-radius: 12px;
    box-shadow: 0 5px darkmagenta;
    text-decoration: none;
}

header nav a:hover {
    background-color: hotpink;
    box-shadow: 0 5px mediumvioletred;
    text-shadow: 0 0 5px #595959;
}

header nav a:active {
    background-color: magenta;
    box-shadow: 0 5px darkmagenta;
    transform: translateY(4px);
}

/* end of header */

/* start statement */

.statement section {
    background: url(/pictures/backsplash.jpg) no-repeat center fixed;
    height: 400px;
    background-size: cover;
    margin: 0 20% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.statement {
    margin-top: 20px;
    margin-bottom: 20px;
}

.statement section h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Modak;
}

.statement section p {
    font-size: 22px;
    color: white;
}

/* end statement */

/* start project */

#projects div {
    display: flex;
    flex-direction: column;
}

#projects img {
    width: 600px;
}

#dittocat {
    display: flex;
}

#pottery {
    display: flex;
    flex-direction: row-reverse;
}

#bedframe {
    display: flex;
}

#mask {
    display: flex;
    flex-direction: row-reverse;
}

#bracelet {
    display: flex;
}

#desk {
    display: flex;
    flex-direction: row-reverse;
}